<!DOCTYPE HTML>
<meta charset="UTF-8">
<html>
<head>
<title></title>
</head>
<body>
<div id="content-container" style="max-width:800px;margin:auto;">
  <div class="date-group-header" style="padding: 13px 23px;background-color: #0091F1;color: #fff;font-size: 1.2em;font-family: 'Arial', sans-serif;">Today</div>
  {{#items}}
  <div class="item-wrapper" style="margin: 5px 0; border-bottom: solid 1px #f2f2f2;">
    <div class="item event" style="padding: 0 20px 0 13px;margin: 0;border-bottom-color: rgb(244, 244, 244);
    background-color: white;font-family: 'Arial', sans-serif;
    border-right: solid 1px #f2f2f2;">
      <div class="item-container" style="overflow: hidden;width: 100%;">
        <div class="item-col2" style="margin-left: 10px;margin-right: 5px;padding-top: 12px;">
          <div class="item-type event" style="text-transform: capitalize;margin-right: 3px;margin-bottom: 8px;border-radius: 3px;font-size: 0.9em;color: #03a9f4;">
            Event <span class="item-users" style="color: #212121;display: inline;margin-right: 2px;text-transform: none;font-weight: normal;">posted by <strong>{{user}}</strong></span>
          </div>
          <div>
            <span class="item-subject" style="border-bottom: solid 1px #EAEAEA;white-space: nowrap;margin-right: 5px;font-weight: normal;font-size: 1.5em;padding: 5px 0 0 0;margin-bottom: 5px;font-family: Georgia;">{{subject}}</span>
          </div>
          <div class="item-body" style="color: #5c5c5c;font-size: 1em;white-space:normal;margin-bottom: 5px;">
            <div style="color:green;margin:12px 0 10px 0;">
              {{startDateTime}}
            </div>
            {{body}}
            <div class="item-actions event" style="margin-top: 14px;font-size: 0.95em;color: rgb(67, 132, 214);">

            </div>
          </div>
          <div class="item-col3" style="padding-top: 7px;margin-bottom: 5px;">
            <div class="item-updated" style="color: rgb(102, 102, 102);overflow: hidden;font-size: 90%;display: block;">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/items}}
</div>
</body>
</html>