library config;

var config = {
    'server': {
        'address': '0.0.0.0',
        'port': 80,
        'domain': 'woven.app',
        'directory': 'web' // Change to build/web before you pub build.
    },
    'authentication': {
        'facebook': {
            'appId': '820721287940975',
            'appSecret': 'e09435e26e2fc560bd7b1754d9baf334',
            'url': 'http://woven.app/signin/facebook'
        }
    },
    'datastore': {
        'firebaseLocation': 'https://luminous-fire-4671.firebaseio.com'
    },
    'email': {
      'hostName': 'smtp.mailgun.org',
      'port': 465,
      'requiresAuthentication': true,
      'secured': true,
      'username': 'postmaster@woven.org',
      'password': 'xxx', // Get your own MailGun or other account.
      'localEmail': 'dave@woven.co'
    }
};
