library config;

var config = {
  'server': {
    'address': '0.0.0.0',
    'port': 80,

    'displayDomain': 'yourdomain.com',
    'domain': 'yourdomain.com',
    'path': 'http://yourdomain.com',
    'directory': 'web' // Toggle me.

    // For building Cordova app. Also comment out the base href in index.html!
//    'displayDomain': 'yourdomain.com',
//    'domain': 'yourdomain.com',
//    'path': 'http://yourdomain.com',
//    'directory': 'build/web'
  },
  'authentication': {
    'facebook': {
      'appId': 'get-your-own',
      'appSecret': 'get-your-own',
      'url': 'http://woven.app/signin/facebook'
    }
  },
  'datastore': {
    'firebaseSecret': 'get-your-own', //dev
    'firebaseLocation': 'get-your-own'
//    'firebaseSecret': 'get-your-own', //prod
//    'firebaseLocation': 'https://get-your-own.firebaseio.com'
  },
  'mailgun': {
    'user': 'api',
    'key': 'get-your-own',
    'localEmail': 'you@yours.com',
    'path': 'https://api.mailgun.net/v2/get-your-own'
  },
  'google': {
    'serviceAccountCredentials': {
      "private_key_id": "get-your-own",
      "private_key": "-----BEGIN PRIVATE KEY-----\nget-your-own\n-----END PRIVATE KEY-----\n",
      "client_email": "get-your-own",
      "client_id": "get-your-own",
      "type": "service_account"
    },
    'cloudStorage': {
      'path': 'http://storage.googleapis.com/get-your-own',
      'bucket': 'get-your-own'
    }
  },
  'appSettings': {
    'validShareToOptions': ['channel1', 'channel2']
  },
  'debug_mode': true
};
