body {
  font-family: Arial, Helvetica, sans-serif;
  transition: opacity ease-in 0.2s;
  font-size: 85%;
  /*margin: auto;*/
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

/* This somehow fixes the disappearing dialog. */
core-overlay-layer.core-opened {
  position: inherit;
}