body {
  font-family: Arial, Helvetica, sans-serif;
  transition: opacity ease-in 0.2s;
  font-size: 85%;
  /*margin: auto;*/
}

/* Hack as per http://goo.gl/Tnj7Us */
.ng-cloak {
  display: none;
}

/* This somehow fixes the disappearing dialog. */
core-overlay-layer.core-opened {
  position: inherit;
}