@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', 'Liberation Sans', Arial, sans-serif;
  background: #F8F8F8;
  transition: opacity ease-in 0.2s;
  /*font-size: 85%;*/
  /*margin: auto;*/
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  margin: 0;
  -ms-touch-action: none;
  touch-action: none;

  /* Disable iOS highlighting the element on tap. */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  height: 100%;
}

body.colored-bg {
  /*background: #00668B;*/
  background: #1d1d1d;
  /*background-image: url(https://storage.googleapis.com/woven/public/images/bg/space_galaxy.jpg);*/
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-image .8s;
}

/* This somehow fixes the disappearing dialog. */
core-overlay-layer.core-opened {
  position: inherit;
}

.core-overlay-backdrop {
  background-color: #444 !important;
}

@media all and (max-width: 640px)  {
  body {
    background: #DCDEE3;
  }
}